* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* GRID */

.container,
.color-choices {
    height: 600px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    background-color: black;
    padding: 5px;
}

.square {
    border-radius: 6px;
    background-color:white;
    border: 2px solid;
}

/* COLOR PALLETE */

.color-choices {
    width: 100px;
    background-color:beige;
}

.color > div,
#darken > img {
    width: 20px;
    height: 20px;
}

.color {
    display: flex;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#white {
    background-color: white;
}

#random {
    text-align: center;
    background-color: lightgrey;
}

#darken {
    background-color: lightgrey;
}