* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #008080;
}

/* GRID */

.container,
.sidebar {
    height: 700px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 700px;
    padding: 3px;
    background-color: #d0d0d0;
    border: 4px outset;
    border-right: none;
}

.square {
    border-radius: 3px;
    background-color: white;
    border: 0.25px outset #d0d0d0;
    filter: brightness(1);
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d0d0d0;
    border: 4px outset;
    border-left: 4px;
    padding: 1.25em;
}

.pen-info {
    width: 15ch;
    font-size: 1.5rem;
    opacity: 0.5;
}

/* COLOR PALLETE */

.color-choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125em;
    font-size: 1.25rem;
}

.color,
.darken-white {
    box-shadow: inset 1.75px 1.75px;
}

.color {
    width: 25px;
    height: 25px;
    border: 3px ridge;
}

.color-choices>div {
    display: flex;
    gap: 0.3em;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#white,
.darken-white {
    background-color: white;
}

.darken-black {
    background-color: black;
}

#random,
#darken {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    font-weight: bold;
}

.darken-black,
.darken-white {
    width: 50%;
    height: 100%;
}

/* FORM */

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.user-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#grid-input {
    padding: 0.3em;
    flex-grow: 1;
    border: 2px inset;
    box-shadow: inset 2px 2px 2px #2b2a2a;
    font-size: 1.15rem;
}

.error {
    color: red;
}

#submit-btn {
    font-size: 1.2rem;
    padding: 0.2em;
    border: 3px outset;
}

#submit-btn:hover {
    cursor: pointer;
}

#submit-btn:active {
    border: 3px inset;
    background-color: #d0d0d0;
    box-shadow: inset 1px 1px 1px;
}