* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* GRID */

.container,
.color-choices {
    height: 700px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 700px;
    padding: 3px;
    background-color: #d0d0d0;
    border: 3px outset;
    border-right: none;
}

.square {
    border-radius: 3px;
    background-color: white;
    border: 0.25px outset #d0d0d0;
}

/* COLOR PALLETE */

.color-choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125em;
    width: 200px;
    background-color: #d0d0d0;
    padding: 1em;
    border: 3px outset;
    font-size: 1.25rem;
    border-left: 4px;
}

.color {
    width: 25px;
    height: 25px;
    border: 3px ridge;
    box-shadow: inset 1.75px 1.75px;
}

.color-choices>div {
    display: flex;
    gap: 0.3em;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#white {
    background-color: white;
}

#random,
#darken {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}